/* Meu CSS */
body,
html{
    margin:  0;
    padding: 0;
    font-size:14px;
}
body{
    background:#ccc url(../img/map-saturation-overlay.png) center top no-repeat;
    background-size:100%;
    background-attachment:fixed;
    font-style: arial;
}
a, a img{
    text-decoration:none;
    border:none;
}
img{
    max-width: 100%;
    height:auto;
}
form label {
    display: inline-block;
    text-align: left;
}
form input, textarea {
    font: 1em sans-serif;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
form input:focus, textarea:focus {
    border-color: #000;
}
form textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
button {
    margin-left: .5em;
}
.principal{
    width: 70%;
    color: #444;
    margin: 0 auto;
    font-family:sans-serif;
}
.cabecalho{
    height:190px;
    background:#fff url(../img/IFMG-Completa-JPG.jpg) left top no-repeat;
}
.logo-cabecalho{
    float:left;
}
.logo-cabecalho a{
    font-size:40px;
    text-decoration:none;
    color:#000;
    display:block;
    padding:20px 0 0 0;
}

/* Configurações do menu */
.menu{
    width:100%;
    display:block;
    clear:both;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu li {
    float: left;
}
.menu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li a:hover, .dropdown:hover .dropbtn {
    background-color: #CC0000;
}
.menu li.dropdown {
    display: inline-block;
}
.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.menu .dropdown-content a:hover {
    background-color: #F1F1F1;
}
.menu .dropdown:hover .dropdown-content {
    display: block;
}

/* Configurações do corpo da página */
.corpo{
    position:relative;
    overflow:hidden;
    min-height: 350px;
}
.conteudo{
    float:left;
    padding: 10px;
}
.conteudo p{
    text-align: left;
}
.conteudo, .conteudo:before{
    width:100%;
}
.conteudo:before{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    background:#fff;
    z-index:-1;
    content:'';
}
.conteudo h1{
    font-size: 24px;
}
.rodape{
    padding:20px;
    text-align:center;
    font-size: 14px;
}

/* Formulários de cadastros */
#cadastrarAluno td {
    padding: 5px;
    text-align: right;
}
#cadastrarAluno input[type=text] {
    width: 300px;
}